.footer {
  display: none;
}
@media all and (min-width: 1000px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2bae66fc;
    position: fixed;
    width: 100%;
    font-size: 1.3rem;
    bottom: 0;
  }

  .footer h6 {
    font-size: 0.7rem;
  }
  .footerIcons {
    display: flex;
    gap: 80px;
  }
}
