#loginArea {
  border-radius: 5px 60px 5px 5px;
  text-align: left;
  padding: 20px;
  box-shadow: 1px 1px 3px;
}
#loginArea h2 {
  text-align: center;
  background-color: rgba(93, 118, 107, 0.66);
  border-radius: 4px;
  color: rgb(33, 20, 20);
  padding: 8px;
}
