#registerArea {
  text-align: left;
  padding: 20px;
  box-shadow: 1px 1px 3px;
  border-radius: 5px 60px 5px 5px;
}
#errDiv {
  font-size: medium;
}
#registerArea h2 {
  text-align: center;
  background-color: rgba(108, 138, 125, 0.66);
  border-radius: 4px;
  color: rgb(33, 20, 20);
  padding: 8px;
  margin: 10px;
}
